@import '../../styles/_variables.scss';

.chart {
    height: 15rem;
    border-top: 0.2rem solid $theme-color;
    border-bottom: 0.4rem solid $theme-color;
    padding: 1.5rem 0;
    margin-bottom: 1.5rem;
}
